@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .ai-analysis-content p strong {
    @apply text-2xl;
  }
}

@layer components {
  .ai-analysis-content ol>li {
    @apply mb-8;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Pico Overrides */
table input:not([type=checkbox],[type=radio]) {
  @apply mb-0;
}

article {
  background: none !important;
}

.list-container li {
  @apply ml-6;
  @apply list-disc;
}

thead th {
  color: var(--pico-contrast-inverse);
  background-color: var(--pico-primary-background);
  border-bottom: none;
}

thead th:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

thead th:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}